.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.memberList {
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  margin-bottom: 15px;
}
th{
  background-color: rgb(133, 131, 131);
  color: white;
  padding: 15px 10px; 
}
td {
  border: 1px solid gray;
  width: 140px;
}

button{
  background: #545050;
  color: white;
  border: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  margin: 0 14px;
  cursor: pointer;
}

#form{
  width: 375px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px auto;
  background: #bf6345;
  padding: 30px;
}
#form h4{
  margin-top: 0;
}
form{
  text-align: left;
}
label{
  margin-bottom: 20px;
  font-size: 18px;
  color: white;
  font-weight: 800;
  display: block;
}
input{
  border: 0;
  width: 200px;
  background: white;
  color: black;
  font-size: 20px;
  padding: 5px 10px;
  margin: 0 5px;
  box-shadow: 1px 1px 1px 1px #eee;
}
input[type="checkbox"]{
  box-shadow: none;
  width: 20px;
}
.labelName{
  font-size: 14px;
  margin: 6px 0;
}
.search{
  width: 300px;
  height: 25px;
  background: #efefef;
  box-shadow: none;
  border: 1px solid #a2a2a2;
  font-size: 16px;
}
.form-submit{
  margin: 0;
  padding: 12px;
  font-size: 15px;
}
select{
  font-size: 14px;
  padding: 8px;
}
.reject{
  background: #f16b6b;
}
.accept{
  background: #56f756;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
